.container.padding
	.row
		.col-md-8
			.panel.panel-primary
				.panel-heading
					Resetear mi Contraseña
				.panel-body
					- if params[:email]
						%h4
							Enviado e-mail a
							%strong #{params[:email]}
					- else
						%p Ingresa el correo con el que te registraste en nuestra plataforma y te enviaremos un link para resetear tu contraseña.
						%form{:method=>"post"}
							.form-group
								%label.sr-only{:for => "email"} E-mail
								%input.form-control{:type=>"email", :name=>"email", :placeholder=>"E-mail"}
							%button.btn.btn-primary{:type=>"submit"}
								Enviar

	