public/paperclip_files
public/paperclip_files/*
db/development.sqlite3

.env
Procfile

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

#rails specific
*.sqlite3
config/database.yml
log/*
tmp/*

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
dump.rdb