<div class="container">
	<div class="row" style="margin-top:30px;">
		<div class="col-md-2">

		</div>
		<div class="col-md-8">
			<h3>Editar reserva <%= @location.title %></h3>

			<% unless @booking.status == 'paid' %>
				<form method="post" action="<%= edit_booking_path(@booking)%>">
					<input type="hidden" name="location_id" id="location-id-input" value="<%=@location.id%>">
					<div class="form-group">
						<label>Desde</label>
						<input type="date" name="start_date" id="start-date-input" class="form-control datepicker" onchange="javascript:validateBooking()">
					</div>
					<div class="form-group">
						<label>Hasta</label>
						<input type="date" name="end_date" id="end-date-input" class="form-control datepicker"  onchange="javascript:validateBooking()">
					</div>
					<p class="bg-warning" style="padding: 10px" id="booking-price-dialog">
						<i class="mdi mdi-lg mdi-cash"></i>
						Precio de reserva:
						<b>
							<span id="booking-price"></span>
						</b>
					</p>
					<p class="bg-warning" style="padding: 10px;display:none;" id="booking-price-message">
						<b>
							<span id="booking-message"></span>
						</b>
					</p>
					<input type="submit" name="" class="btn btn-success" value="Actualizar Reserva" id="booking-submit-button"/>
				</form>
			<% else %>
				<br>
				<p>
					No puedes editar esta reserva dado que ya la pagaste. Si necesitas igualmente hacer algún cambio, contáctate directamente con el propietario a través del historial de reserva, o contáctate con nosotros.
				</p>
				<br>
				<div style="text-align:center;">
					<div class="btn-group" style="width: 40%;">
	          <a class="btn btn-lg btn-primary btn-block" href="<%= booking_url(@booking.code)%>" style="-webkit-appearance: none;" type="button">
	            IR A LA RESERVA
	          </a>
	        </div>
					<div class="btn-group" style="width: 40%;">
	          <a class="btn btn-lg btn-primary btn-block" href="/contacto" style="-webkit-appearance: none;" type="button">
	            CONTÁCTANOS
	          </a>
	        </div>
        </div>
			<% end %>
			<script type="text/javascript">
				$(function() {
					validateBooking();
				});
				function validateBooking() {
					$("#booking-submit-button").attr("disabled",true)
					console.log("validating booking...")
					var location_id=$("#location-id-input").val()
					console.log("location id: "+location_id)
					var start_date=$('#start-date-input').val()
					console.log("start date: "+start_date)
					var end_date=$('#end-date-input').val()
					console.log("end date: "+end_date)
					$.ajax({
						url: '/bookings/price',
						type: 'POST',
						data: {start_date: start_date, end_date: end_date, location_id: location_id},
					})
					.done(function(msg) {
						console.log(msg)
						console.log("success");
						if(msg.success==true) {
							$("#booking-price-message").hide()
							$("#booking-price-dialog").show()
							$("#booking-price").html("$"+msg.price * 0.15);
							$("#booking-submit-button").attr("disabled",false)
						}
					})
					.fail(function() {
						//alert("Hubo un error cotizando tu reserva. Por favor intenta mas tarde.")
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});


				}
			</script>
		</div>
		<div class="col-md-2">

		</div>
	</div>
</div>
