- if current_user.status == 'admin'
  .row.padding
    .main-navigation.navbar-collapse
      / start: MAIN NAVIGATION MENU
      %ul.nav.nav-pills
        %li.nav-item{}
          %a.nav-link{:href => '/admin/locations', :class => (controller.controller_name == 'locations')? 'active': ''}
            %i.mdi.mdi-lg.mdi-pin
            %span.title Locaciones
        %li.nav-item{}
          %a.nav-link{:href => '/admin/collections', :class => (controller.controller_name == 'collections')? 'active': ''}
            %i.mdi.mdi-lg.mdi-folder-image
            %span.title Colecciones
        %li.nav-item{}
          %a.nav-link{:href => '/admin/users', :class => (controller.controller_name == 'users')? 'active': ''}
            %i.mdi.mdi-lg.mdi-account
            %span.title Usuarios
        %li.nav-item{}
          %a.nav-link{:href => '/admin/bookings', :class => (controller.controller_name == 'bookings')? 'active': ''}
            %i.mdi.mdi-lg.mdi-newspaper
            %span.title Reservas
        %li.nav-item{}
          %a.nav-link{:href => '/confs/', :class => (controller.controller_name == 'confs')? 'active': ''}
            %i.mdi.mdi-lg.mdi-newspaper
            %span.title Configuraciones
