%footer
	%hr
	.container.d-flex.justify-content-center
		%ul.list-inline.social-links
			%li.list-inline-item
				%a.footer-social-link{:href => "https://www.facebook.com/AtLocscom-820834398016166/", :target => "_blank"}
					%i.mdi.mdi-facebook.footer-social-icon
			%li.list-inline-item
				%a.footer-social-link{:href => "http://twitter.com/atlocs", :target => "_blank"}
					%i.mdi.mdi-twitter.footer-social-icon
			%li.list-inline-item
				%a.footer-social-link{:href => "http://instagram.com/atlocs", :target => "_blank"}
					%i.mdi.mdi-instagram.footer-social-icon
