%section.main-content
  .page-header.about-header
    .container
      %h1.about-header_title=t('about.title')
      %h3.about-header_subtitle=t('about.subtitle')
      %p.about-header_desc=t('about.desc')
  .container
    .row
      .col-md-10.offset-md-1.d-flex.justify-content-center.align-items-start.flex-column.flex-md-row
        .about-box
          .about-box_photo
            = image_tag ('about/cristian-diaz.jpg')
          .about-box_info
            %h4.about-box_name=t('about.name1a')
            %p.about-box_position=t('about.name1b')
            %a.about-box_link{:href => "mailto:cdiaz@chilelocaciones.cl"}
              %i.mdi.mdi-email-outline
              =t('general.contact')
        .about-box
          .about-box_photo
            = image_tag ('about/nazeli-nazar.jpg')
          .about-box_info
            %h4.about-box_name=t('about.name2a')
            %p.about-box_position=t('about.name2b')
            %a.about-box_link{:href => "mailto:nnazar@chilelocaciones.cl"}
              %i.mdi.mdi-email-outline
              =t('general.contact')
