<div class="container mt-5">
    <h1>Gracias</h1>
    <p>Tu locacion ha sido agregada pero esta esperando ser aprobada. recibiras una notificacion de nosotros a la brevedad.</p>
    <%= link_to "Volver a mi perfil", "/users/#{current_user.id.to_s}"%>
</div>