%section.main-content
	.container
		.col-md-10.offset-md-1
			.page-header
				%h1
					=t('terms_and_conditions.title')
					%br/
					%small=t('terms_and_conditions.subtitle')


			%p=t('terms_and_conditions.subp1')
			%p=t('terms_and_conditions.subp2')

			%h4=t('terms_and_conditions.question1a')
			%p=t('terms_and_conditions.question1b')

			%h4=t('terms_and_conditions.question2a')
			%p=t('terms_and_conditions.question2b')

			%h4=t('terms_and_conditions.question3a')
			%p=t('terms_and_conditions.question3b')
			%p=t('terms_and_conditions.question3c')

			%h4=t('terms_and_conditions.question4a')
			%p=t('terms_and_conditions.question4b')


			%h4=t('terms_and_conditions.question5a')
			%p=t('terms_and_conditions.question5b')

			%h4=t('terms_and_conditions.question6a')
			%p=t('terms_and_conditions.question6b')
			%p=t('terms_and_conditions.question6c')

			%h4=t('terms_and_conditions.question7a')
			%p=t('terms_and_conditions.question7b')
			%p=t('terms_and_conditions.question7c')

			%h3=t('terms_and_conditions.policies_title')

			%p=t('terms_and_conditions.p1')

			%p=t('terms_and_conditions.p2')

			%p=t('terms_and_conditions.p3')

			%p=t('terms_and_conditions.p4')

			%p=t('terms_and_conditions.p5')

			%p=t('terms_and_conditions.p6')

			%p=t('terms_and_conditions.p7')

			%p=t('terms_and_conditions.p8')

			%p=t('terms_and_conditions.p9')

			%p=t('terms_and_conditions.p10')

			%p=t('terms_and_conditions.p11')

			%p=t('terms_and_conditions.p12')

			%p=t('terms_and_conditions.p13')