.booking {
}

.comment-box {
	textarea {
		// border-color:rgba($brand-primary, .5);
	}
}

.booking-status {
	padding-top:2rem;
	.item-head {
		margin-top:0;
	}
	.booking-log {
		padding:2rem;
		.timeago {
			opacity:.6;
			font-size:13px;
			font-weight: 400;
		}
	}
	.media {
		// margin-top:.3rem;
		padding:1.5rem 1rem;
		border-top: 1px solid rgba(black, 0.08);
		&:first-of-type {
			border-top: none;
		}
		.user-avatar {
			.mdi {
				opacity: 0.6;
			}
		}
		.media-body {
			.media-heading {
				font-size:15px;
			}
			p {
				font-size: 0.9rem;
				margin-bottom:0;
			}
		}
		&.booking-accepted {
//			background-color:rgba($brand-success, .19);
		}
		&.booking-cancelled {
//			background-color:rgba($brand-danger, .19);
		}
		&.booking-payment-ok {
//			background-color:rgba($brand-warning, .19);
		}
	}
}

.location-info {
	padding: .5rem 1.5rem;
//	background: lighten($brand-primary, 44%);
	.location-title {
		font-size: 1.2rem;
		margin: 1rem 0;
	}
	.location-img {
		margin: 0;
		img {
			width:100%;
		}
	}
	.booking-details {
		padding: 1rem;
		font-size: 0.8rem;
		color: rgba(black, 0.6);
		margin:0;
		list-style:none;
		li {
			margin:.5rem 0;
			.mdi {
				font-size: 24px;
			}
		}
	}
}
