// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map_canvas {
  width: 100%;
  height: 300px;
}

.pac-container {
    /* put Google geocomplete list on top of Bootstrap modal */
    z-index: 9999;
}

.location-preview {
	//min-height:230px;
//	@include transition(all 300ms ease);
	.image {
		// overflow:hidden;
		position: relative;
//		background-color:$brand-primary;
		width:100%;
		height:0;
		padding-bottom: 67%;
		overflow: hidden;
		a {
			display:block;
			width:100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		img {
			width: 100%;
		  	height: 100%;
			object-fit: cover;
			z-index:0;
//			@include transition(all 333ms ease);
		}
		.badge-price {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			left:0;
			bottom:0;
			border-radius: 1px;
			padding: 0.5rem 0.75rem;
			font-size: 1.125em;
			z-index: 1;
//			background-color: rgba(darken($brand-primary, 15%), 0.8);
			color: white;
			font-weight: 600;
//			@include transform(translateY(-50%));
//			@include transition(all 300ms ease);
			.currency {
				font-size: .625em;
				line-height: 1;
				margin-left: .25rem;
				text-transform: uppercase;
			}
		}
		&:hover {
			img {
				opacity:.5;
			}
			.badge-price {
//				background-color: saturate($brand-primary, 15%);
//				@include transform(translateY(-66%));
			}
		}
	}
	.caption {
		padding: 1.25rem 1rem;
		margin-bottom: .75rem;
		.title {
			margin: 0;
			font-size: 1.125em;
			font-weight: 700;
			@include trunkate(1.3em, 3);
		}
		.desc {
			@include trunkate(1em, 3);
			font-size: 1em;
			line-height: 1.5;
			margin: .5rem 0 0;
		}
	}
	// LOCATION PREVIEW HOVER
	&:hover {
//		background-color: rgba(lighten($brand-primary, 24%), 0.16);
	}
}

.new-location, .edit-location {
	$scrollspy-w:330px;
	.scrollspy {
		width:$scrollspy-w;
		.nav {
			width:$scrollspy-w;
//			@include transition(all 222ms ease);
			&.affix {
				top:70px;
			}
		}
	}
	input[type=number] {
		padding:0;
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
			-webkit-appearance: none;
	  		margin: 0;
		}
	}
	.form-location {
		ul.nav {
			border-radius:2px;
			background:lighten($gray-lighter, 2%);
			padding:1.5rem 0 0;
			li {
				a {
					border-radius:0;
					font-size:1.5rem;
					color:$gray-light;
					i {
						opacity:.75;
					}
				}
				&.small {
					padding:.4rem 1.7rem;
					opacity:.6;
				}
				&.active {
					a {
						color:white;
					}
				}
				&.action {
					text-align:center;
					padding:1rem;
				}
			}
		}
		.step {
			margin-top:2rem;
			position: relative;
			padding:1.5rem 3rem 1.5rem 1rem;
			.tab-head {
				margin-bottom:1rem;
				padding-bottom:.5rem;
				border-bottom:1px solid $gray-lighter;
				h2 {
					margin-top:0;
					font-size:1.8rem;
					font-weight: 700;
				}
				p {}
			}
			.tab-body {
				.form-group {
					padding:1rem;
					margin:0;
					label {
						font-size: 1.1rem;
            font-weight: 700;
					}
					.checkbox {
						label {
							font-size:1rem;
              font-weight: 400;
						}
					}
					.form-control {
						// padding:1.1rem 1.6rem;
					}
				}
				.gallery {
					background-color:$gray-lighter;
					padding:2rem;
					clear: both;
					$thumbsize:150px;
					ul {
						margin: 10px 0 0 0;
						padding: 0;
						display: block;
						li {
							width:$thumbsize;
							height: auto;
							margin-right: 5px;
							text-align:center;
							list-style: none;
							display: inline-block;
							overflow: hidden;
							span{
								border:2px solid $gray-lighter;
								display: inline-block;
								width:$thumbsize;
								height:$thumbsize;
								img {
									@extend %center-vertical;
									width:$thumbsize;
									max-height:$thumbsize;
									display: inline !important;
								}
							}

							// width:50%;
						}
					}
				}
				.file-upload-btn {
					position: relative;
					.btn {}
					.transparent-input {
						position: absolute;
						opacity:0;
						width:100%;
						height:100%;
						top:0;
						left:0;
						right:0;
					}
				}
				.price {
					.final-price {
						font-size: 2rem;
						font-weight: 700;
					}
				}
			}
			&.active {}
			.actions {
				margin-top:2rem;
				padding-top:1.5rem;
				border-top:1px solid $gray-lighter;
				ul {
					width:100%;
					@include flexbox($justify:space-between);
					li {}
				}
			}
		}
	}
}

.location-single {
	section.location {
		.location-header {
			position: relative;
			height:520px;
			background:image-url('locations-placeholder.jpg') no-repeat center;
			background-size:cover;
			@include media("<=tablet") {
				height:auto;
			}
			&:before {
				content:"";
				display:block;
				position: absolute;
				left:0;
				top:0;
				width:100%;
				height:100%;
				@include background-image(linear-gradient(rgba(0,0,0,0.05) 33%, rgba(0,0,0,0.5) 90%));
			}
			[class*="container"] {
				position: absolute;
				bottom: -1px;
				left: 50%;
				width: 100%;
				max-width: 1140px;
				transform: translateX(-50%);
				// height:100%;
				display: flex;
				align-items: stretch;
				justify-content: space-between;
				@include media("<=tablet") {
					flex-direction: column;
					position: relative;
					padding: 0;
				}
				.location-title {
					flex: auto;
					margin: 1em 1.5em;
					display: flex;
					align-items: center;
					@include media("<=tablet") {
						width:100%;
						padding:30vh 1em 1em;
						height:auto;
					}
					h1 {
						// @extend %center-vertical;
						color:white;
						font-size: 1.5rem;
						line-height: 1.3;
						text-transform:uppercase;
						font-weight:600;
						margin:0;
						@include media(">=tablet") {
							top:auto;
							font-size: 2.25rem;
							@include transform(translateY(0));
						}
						@include media(">=desktop") {
							font-size: 3rem;
						}
						small {
							margin-top:1rem;
							text-transform: none;
							font-family:$font-family-serif;
							font-size:.75em;
							display: block;
//							color:lighten($brand-primary, 33%);
						}
					}
				}
				.location-booking-info {
					flex: none;
					width: 24em;
					background-color:white;
					padding:2vw 3vw;
					text-align: center;
					@include media("<=tablet") {
						position: static;
						width: auto;
						flex: auto;
						height:auto;
					}
					@include media(">=tablet") {
						padding:1rem 2rem;
					}
					.price {
						font-size:2rem;
						font-weight:700;
					}
					.availability {
            			display: block;
					}
					.booking {
						@include media("<=tablet") {
							padding: 0 2vw;
//							border-bottom: 1px dashed lighten($brand-primary, 24%);
							.btn {
								width: auto;
								padding: .75rem 1rem;
							}
						}
					}
					.booking-contact {
						margin: 1vw 0;
						@include media("<=tablet") {
							margin: 2vw 0;
						}
					}
				}
			}
		}
		.location-content {
			.content-box {
				padding:4vw 2vw;
			}
			.address {
        text-align: right;
        .address-title {
          font-size:1.6rem;
          margin: 2vw;
        }
				.map {
					background-color:$gray-lighter;
					width:100%;
					height:0;
					padding-bottom:70%;
					text-align:center;
					overflow:hidden;
					position: relative;
					z-index: 1000;
					&:after {
						$size: 180px;
						@extend %pseudoblock;
						position: absolute;
						width:$size;
						height:$size;
						margin:-$size/2;
						top:50%;
						left:50%;
//						background:transparentize($brand-primary, .9);
//						border:2px solid transparentize($brand-primary, .8);
						border-radius:100%;
					}
					img {
						width:100%;
						height:auto;
					}
				}
        @include media("<=tablet") {
          padding: 3vw;
          text-align: left;
        }
			}
			.details {
				.table {
					margin:1.5rem 0;
					tr {
						&.spacer {
							height:.6rem;
						}
						th, td {
							border:none;
							padding:1rem 1.5rem;
						}
						th {
//							background-color:transparentize($brand-primary, .93);
						}
						td {}
					}
				}
        .table-hover tbody tr:hover {
          background-color: $gray-lightest;
        }
			}
		}
	}
}
.gallery {
  .gallery-title {
    @extend .mb-4;
  }
  .gallery-list {
    background-color:lighten($gray-lighter, 1%);
    list-style:none;
    padding:2rem;
    @include flexbox($flow:wrap);
    .gallery-slot {
      width: 25%;
      padding: .9rem;
      @include media("<=tablet-max") {
        width: 33%;
      }
      @include media("<=tablet") {
        width: 50%;
      }
      @include media("<=600px") {
        width: 100%;
      }
      // @include media("<=phone-max") {
      // }
      .gallery-link {
		  display: block;
		width:100%;
		height: 0;
		padding-bottom: 67%;
		position: relative;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		overflow: hidden;
        .gallery-img {
			display: block;
			top: 50%;
			left: 50%;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
//			@include transform(translate(-50%, -50%));
//			@include transition(all 300ms ease);
			&:hover {
				width: 125%;
				height: 125%;
				opacity: 0.56;
			}
        }
      }
    }
  }
}


