<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar tu contrase침a. Puedes hacerlo en el siguiente enlace.</p>

<p><%= link_to 'Cambiar contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no lo solicitaste, por favor ignora este correo.</p>
<p>Tu contrase침a no cambiar치 hasta que accedas al enlace anterior y crees una nueva.</p>
