<p>Hhola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada por un exceso de intentos fallidos de ingreso.</p>

<p>Haz click en el siguiente enlace para descloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
